body {
  font-family: "Hanken Grotesk", sans-serif;
  margin: 0;
}

.container {
  width: 600px;
  /* height: 600px; */
  margin: 150px auto;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-wrap: wrap;
  border-radius: 30px;
}
.container .greet {
  flex-basis: 50%;
  text-align: center;
  border-radius: 30px;
  background-image: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
}
.container .summary {
  flex-basis: 50%;
  text-align: center;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 3px 0px 30px -1px rgb(215 214 214);
}
.container .greet h4 {
  font-size: 20px;
  color: hsl(241, 100%, 89%);
}
@media (max-width: 630px) {
  .container {
    width: 350px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  .container .greet {
    flex-basis: 100%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .container .summary {
    flex-basis: 100%;
  }
}
.container .greet .count {
  width: 150px;
  height: 150px;
  border-radius: 75%;
  background-image: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsl(241, 81%, 54%)
  );
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.container .greet .count p {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  color: hsl(241, 100%, 89%);
  font-family: url(fonts/static/HankenGrotesk-Bold.ttf);
}
.container .greet .count span {
  display: block;
  font-size: 60px;
  font-weight: 700;
  color: hsl(221, 100%, 96%);
}
.container .greet h2 {
  padding: 5px;
  font-size: 30px;
  color: hsl(221, 100%, 96%);
  margin-bottom: 0;
}
.container .greet p {
  padding: 10px;
  color: hsl(241, 100%, 89%);
}
.container .summary .contain {
  margin: 35px;
}
.container .summary h4 {
  text-align: left;
  font-size: 20px;
  color: hsl(224, 30%, 27%);
}
.container .summary .contain .box .all {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
.container .summary .contain .box .reaction {
  color: hsl(0, 100%, 67%);
  background-color: hsl(0deg 54% 78% / 20%);
}
.container .summary .contain .box .all .mem h5 {
  margin: 18px;
  font-size: 15px;
}
.container .summary .contain .box .all p {
  color: hsl(241, 100%, 89%);
  font-weight: 700;
}
.container .summary .contain .box .all span {
  color: hsl(224, 30%, 27%);
}
.container .summary .contain .box .memory {
  color: hsl(39, 100%, 56%);
  background-color: hsl(39deg 74% 79% / 30%);
}
.container .summary .contain .box .verbal {
  color: hsl(166, 100%, 37%);
  background-color: hsl(166deg 78% 65% / 30%);
}
.container .summary .contain .box .visual {
  color: hsl(234, 85%, 45%);
  background-color: hsl(234deg 71% 63% / 30%);
}
.container .summary .contain .box .all .mem {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: space-around; */
  width: 120px;
  margin: 0;
}
.container .summary .contain .width {
  width: 15px;
}
.container .summary .contain .button {
  padding: 10px;
  border-radius: 30px;
  margin-top: 25px;
  background-color: hsl(224, 30%, 27%);
  color: white;
  cursor: pointer;
}
